@import ./theme.sass
@import ./theme@v2.sass

#__next
    display: flex
    justify-content: space-between
    height: -webkit-fill-available
    flex-wrap: nowrap
    align-content: center
    flex-direction: column
section
    min-height: 500px 
    margin-top: 90px
