
:root
    --color-text: #2b373a
    --color-Text: #21282a
    --color-ui: #ff5959
    --color-Ui: #ff2b2b
    --color-bg: #ffffff
    --color-Bg: #f2f3f7
$colorBG: var(--color-text)
$colorBGB: var(--color-Text)
$colorUI: var(--color-ui)
$colorUIX: var(--color-Ui)
$colorBg: var(--color-bg)
$colorBgX: var(--color-Bg)
@font-face
    font-family: uiplus
    src: url(/fonts/fontplus.otf)

@mixin sh()
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%)
    // box-shadow: 5px 5px 10px #cfcfcf, -5px -5px 10px #ffffff
    &:hover
        box-shadow: 5px 5px 10px rgb(0 0 0 / 40%)

        // box-shadow: 5px 5px 10px var(--color-ui)
        // box-shadow: 0px 0px 0px #fff
        // transition: box-shadow .2s ease,border .2s ease
        // border: 1px solid var(--color-Ui)
.sh
    @include sh()
.btn
    background-image: linear-gradient(90deg, var(--color-Ui), var(--color-UI) )
    background-color: var(--color-Ui)
    padding: 10px
    text-align: center
    border-radius: 10px
    min-width: 40px
    -webkit-user-select: none
    -ms-user-select: none
    cursor: pointer
    font-size: larger
    font-weight: 700
    color: var(--color-bg) !important
    &.diseble
        color: var(--color-Ui ) !important
        background-color: var(--color-bg)
        border: 2px solid
        ._ui
            stroke: $colorBG
            fill: $colorUIX
        .ui
            stroke: $colorUIX
            fill: $colorBG

    &:not(&.diseble) svg
        ._ui
            stroke: $colorUIX
            fill: $colorBG
        .ui
            stroke: $colorBG
            fill: $colorUIX
    &.red
        color: $colorBG
        background-image: linear-gradient(90deg, var(--color-err), var(--color-Err))
    &.w
        width: 100%

b
    padding: 10px
.icon > svg
    width: 20px
    height: 20px
    padding-left: 10px
.page
    max-width: 500px
    width: -webkit-fill-available
button
    border: 0
.rtl
    direction: rtl
.ltr
    direction: ltr

.rest ,.R
    padding: 0 !important
    margin: 0 !important
    &-m
        margin: 0 !important
    &-p
        padding: 0 !important

.none
    display: none

.display
    display: flex !important
.pup
    position: fixed
